/* .intro {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 2;
} */
nav {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
}
.navbar-item {
  color: lightgrey;
}
.hs {
  z-index: 0;
  margin: 100px;
}
.hs2 {
  height: 300px;
  width: 250px;
}
/* .info {
  margin-left: 50px;
  margin-bottom: 300px;
} */
.about-me {
  position: relative;
  padding: 0;
  margin-bottom: 0px;
}
.box {
}
.project {
  color: white;
}

.about-me::before {
  content: "";
  background-image: url("../images/dc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.nav1 {
  position: fixed;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#project {
  margin-bottom: 150px;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
}
/* .skills-box {
  text-align: center;

} */
.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .prj {
  position: relative;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
} */
.prj {
  background: black;
  position: relative;
  z-index: 1;
}

/* &::before,
&::after {
  background: inherit;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

::before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 10 0% 0;
}

::after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
} */

.card {
  /* max-width: 380px; */
}
.card-body {
  max-height: 350px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.has-text-start {
}
.prj::before {
  content: "";
  background-image: url("../images/dc2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
  background-color: black;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  margin-top: 200px;
}
.buttons {
  padding: 15px;
}
#dev {
  color: black;
  border: 10px solid white;
}
#mock {
  color: black;
  border: 10px solid white;
}
#cards {
  color: black;
  border: 10px solid white;
}
#skills {
  padding: 25px;
}

.footer {
  background-color: black;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 160px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background-image: url("images/1.png");
}

/* Style the back side */
.flip-card-back {
  background-color: gold;
  color: white;
  transform: rotateY(180deg);
}
.card-info {
  color: black;
  margin-top: 25px;
}
/* #contact {
  height: 300px;
} */

.linkedin {
  max-width: 50px;
  max-height: 50px;
}
.email {
  margin-top: 10px;
}
.links {
  margin: 40px;
}
.name {
  margin-top: 65px;
}
.website {
  color: black;
}
/* .fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
} */
/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
