.about-me{
    position: relative;
}
.about-me::before {
   content: "";
    background-image: url('../images/dc.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about {
    margin-top: 200px;
}
#dev {
    color: black;
}
#mock {
    color: black;
}
#cards {
    color: black;
}
